@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta scrollbars pero mantiene el scroll */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}